{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Mongo Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bflmongoservice.erzqa.com"
    },
    {
      "url": "http://bflmongoservice.erzqa.com"
    }
  ],
  "paths": {
    "/ApproveQueueController/UpsertInQueue": {
      "post": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_UpsertInQueue",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadQueue"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfQueueIdResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ApproveQueueController/GetApproverStatus": {
      "post": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_GetApproverStatus",
        "parameters": [
          {
            "name": "queueId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfApproverStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ApproveQueueController": {
      "get": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/UploadQueue"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadQueue"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadQueue"
                }
              }
            }
          }
        }
      }
    },
    "/ApproveQueueController/{id}": {
      "get": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadQueue"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadQueue"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ApproveQueue"
        ],
        "operationId": "ApproveQueue_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/AssuredCashback/GetCashbackMetadata": {
      "post": {
        "tags": [
          "AssuredCashback"
        ],
        "operationId": "AssuredCashback_GetAssuredPointsMetadata",
        "parameters": [
          {
            "name": "CampaignID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "Cashack",
            "in": "query",
            "schema": {
              "type": "number",
              "format": "double"
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CashbackMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/UpdateAssuredPointsValue": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateAssuredPointsValue",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssuredPointsValueRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssuredPointsValue"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/UpdateAssuredPointsTransactionMapping": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateAssuredPointsTransactionMapping",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssuredPointsTransactionMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/AssuredPoints/UpdateAssuredPointsMetadata": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateAssuredPointMetadata",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssuredPointsMetadataRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/AssuredPoints/GetPointsMetadata": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_GetAssuredPointsMetadata",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PointsMetadataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/GetTransactionCounter": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_GetTransactionCounter",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/GetCVID": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_FetchCV_ID",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/GetCalculateCav": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_GetCalculateCav",
        "parameters": [
          {
            "name": "TransactionCounter",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "TopEarner",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          },
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseAssuredValue"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/GetTctc": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_GetTctc",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/UpdateAvailablePointsBudget": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateAvailablePointsBudget",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AvailablePointMetadataBudgetDetailsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/UpdateAssurePointsTransaction": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateAssurePointsTransaction",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssuredPointsTransactionTableRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/AssuredPoints/UpdateAssurePointsValue": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateAssurePointsValue",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestToUpdateAssurePointValue"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/AssuredPoints/UpdateTotalCashbackTransactionCounter": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateTotalCashbackTransactionCounter",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestToUpdateTransactionMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/AssuredPoints/GetAssuredPointBudgetNotificationFlag": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_GetAssuredPointBudgetNotificationFlag",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Mobile",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssuredPointsBudgetNotificationFlag"
                }
              }
            }
          }
        }
      }
    },
    "/AssuredPoints/UpdateBudgetNotificationFlag": {
      "post": {
        "tags": [
          "AssuredPoints"
        ],
        "operationId": "AssuredPoints_UpdateBudgetNotificationFlag",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestToUpdateBudgetNotificationFlag"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/GetBatchUploadGoodwill": {
      "post": {
        "tags": [
          "BatchUpload"
        ],
        "operationId": "BatchUpload_GetBatchUploadGoodwill",
        "parameters": [
          {
            "name": "page.PageNumber",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "page.PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "MobileNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 64,
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginationResponseOfListOfGoodWillPoints"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/CreateTripleRewadBundle": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_CreateTripleRewadBundle",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewadBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewadBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/TripleRewardBundleResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardTempBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardTempBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardTempBundleDetailByTempId": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardTempBundleDetailByTempId",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTempBundleDetailLockStatus": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTempBundleDetailLockStatus",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardFraudBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardFraudBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardDetailForScratch": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardDetailForScratch",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetTripleRewardDetailForScratchForLock": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetTripleRewardDetailForScratchForLock",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfTripleRewardBundleResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/GetAPICallResponse": {
      "get": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_GetAPICallResponse",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APICallResponse"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTempBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTempBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTempRewardBundle": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTempRewardBundle",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardFraudBundleDetail": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardFraudBundleDetail",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardFraudRewardBundle": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardFraudRewardBundle",
        "requestBody": {
          "x-name": "bundleTripleRewardRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BundleTripleRewardRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardBundleHistory": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTransactionHistory",
        "requestBody": {
          "x-name": "tripleRewardTransactionHistory",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripleRewardTransactionHistory"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardBundleHistoryRevealedStatus": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTransactionHistoryRevealedStatus",
        "requestBody": {
          "x-name": "tripleRewardTransactionHistory",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TripleRewardTransactionHistory"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BundleReward/UpdateTripleRewardTransactionHistoryIsScratchedIsReveledStatus": {
      "post": {
        "tags": [
          "BundleRewards"
        ],
        "operationId": "BundleRewards_UpdateTripleRewardTransactionHistoryIsScratchedIsReveledStatus",
        "parameters": [
          {
            "name": "rewardLogId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRules": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRules",
        "parameters": [
          {
            "name": "BurnCriteriaType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "BurnCriteriaChannel",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "BurnCriteriaCompanyCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "BurnCriteriaLOB",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "TransationDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 5
          },
          {
            "name": "CustomerType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "CustomerMembershipType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BurnRule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesWithCompanyCode": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesWithCompanyCode",
        "parameters": [
          {
            "name": "BurnCriteriaType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "BurnCriteriaChannel",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "BurnCriteriaCompanyCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "BurnCriteriaLOB",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 4
          },
          {
            "name": "TransationDate",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "x-position": 5
          },
          {
            "name": "CustomerType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 6
          },
          {
            "name": "CustomerMembershipType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 7
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BurnRule"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesByType": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesByType",
        "parameters": [
          {
            "name": "BurnCriteriaType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Channel",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "SubscriptionType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfListOfMongoBurnRule"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesByBurnRuleID": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesByBurnRuleID",
        "parameters": [
          {
            "name": "BurnRuleID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfListOfMongoBurnRule"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesByRedeemType": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesByRedeemType",
        "requestBody": {
          "x-name": "burnRuleRequestForRedeemType",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BurnRuleRequestForRedeemType"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfListOfMongoRedeemType"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRulesForAll": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRulesForAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfMongoBurnRuleDetails"
                }
              }
            }
          }
        }
      }
    },
    "/BurnRule/GetBurnRuleByRedeemTypeAndChannelCode": {
      "post": {
        "tags": [
          "BurnRule"
        ],
        "operationId": "BurnRule_GetBurnRuleByRedeemTypeAndChannelCode",
        "requestBody": {
          "x-name": "req",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BurnRuleByRedeemTypeAndChannelCode"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfListOfBurnRule"
                }
              }
            }
          }
        }
      }
    },
    "/CampaignBudget/UpdateCampaignBudgetValue": {
      "post": {
        "tags": [
          "CampaignBudget"
        ],
        "operationId": "CampaignBudget_UpdateAndReturn",
        "parameters": [
          {
            "name": "CampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "rewardValue",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CampaignBudget": {
      "get": {
        "tags": [
          "CampaignBudget"
        ],
        "operationId": "CampaignBudget_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CampaignBudgetModel"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CampaignBudget"
        ],
        "operationId": "CampaignBudget_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignBudgetModel"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignBudgetModel"
                }
              }
            }
          }
        }
      }
    },
    "/CampaignBudget/{id}": {
      "get": {
        "tags": [
          "CampaignBudget"
        ],
        "operationId": "CampaignBudget_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignBudgetModel"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CampaignBudget"
        ],
        "operationId": "CampaignBudget_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignBudgetModel"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CampaignBudget"
        ],
        "operationId": "CampaignBudget_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/Campaign/GetCampaignDetails": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetCampaignDetails",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignDetailsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfEarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Campaign/GetCampaignsByIDs": {
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetCampaignsByIDs",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnCampaign"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/Campaign/FetchCampaignsOfGroupCampaignId": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_FetchCampaignsOfGroupCampaignId",
        "parameters": [
          {
            "name": "GroupCampaignId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfListOfEarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Campaign": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/EarnCampaign"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarnCampaign"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Campaign/{id}": {
      "get": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EarnCampaign"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EarnCampaign"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "Campaign"
        ],
        "operationId": "Campaign_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/ClaimableVouchers/GetClaimableVouchersCount": {
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_GetClaimableVouchersCount",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "integer",
                  "format": "int32",
                  "nullable": true
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/GetUnclaimedVoucherCount": {
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_GetUnclaimedVoucherCount",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnclaimedVoucherCountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/GetAllClaimableVouchers": {
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_GetAllClaimableVouchers",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileRequestWithSkipTake"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimableVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/UpdateSkuItemToBlocked": {
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_UpdateSkuItemToBlocked",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimableVoucherBlockedRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/InsertClaimableVoucher": {
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_InsertClaimableVoucher",
        "requestBody": {
          "x-name": "claimableVoucherRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimableVoucherRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimableVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/GetUnclaimedExpiredVoucher": {
      "get": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_GetUnclaimedExpiredVoucher",
        "parameters": [
          {
            "name": "allFlag",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimableVouchers"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/GetClaimableVouchersByMobileNumberSubscriptionID": {
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_GetClaimableVouchersByMobileNumberSubscriptionID",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubscriptionRewardsViolatedRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimableVouchers"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers": {
      "get": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ClaimableVoucherEntity"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimableVoucherEntity"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimableVoucherEntity"
                }
              }
            }
          }
        }
      }
    },
    "/ClaimableVouchers/{id}": {
      "get": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClaimableVoucherEntity"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimableVoucherEntity"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "ClaimableVouchers"
        ],
        "operationId": "ClaimableVouchers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerEvent/Create": {
      "post": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Create",
        "requestBody": {
          "x-name": "customerEvent",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEvent"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerEvent": {
      "get": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerEvent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEvent"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEvent"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerEvent/{id}": {
      "get": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerEvent"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerEvent"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerEvents"
        ],
        "operationId": "CustomerEvents_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerLedger/Create": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Create",
        "requestBody": {
          "x-name": "customerLedgerRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByType": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByType",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTypeIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByTypeId": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByType2",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTxnTypeIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactions": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetCustomerTransactions",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTransactionSummaryRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithCountOfListOfCustomerTransaction"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetLatestTransaction": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetLatestTransaction",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MobileRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByTxnRefID": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionByTxnRefID",
        "parameters": [
          {
            "name": "TxnRefID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByTxnID": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionByTxnID",
        "parameters": [
          {
            "name": "TxnID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByTxnRefIDDetails": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionByTxnRefIDDetails",
        "parameters": [
          {
            "name": "TxnRefID",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionByTxnIdTypeAndMobileNumber": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionByTxnIdTypeAndMobileNumber",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTxnIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetOneDayOldTransactions": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetOneDayOldTransactions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByDate": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByDate",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByDateFilter": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByDateFilter",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "name": "filterString",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTwoDayOldTransactions": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTwoDayOldTransactions",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionsByDateWithLimit": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionsByDateWithLimit",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetReconManualTransactionsByDateWithLimit": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetReconManualTransactionsByDateWithLimit",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 5
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetTransactionForPointsLapseWorker": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetTransactionForPointsLapseWorker",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerByTxnIdRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithStatusOfCustomerLedger"
                }
              }
            }
          },
          "204": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseWithStatusOfCustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/Upsert": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_UpsertRecord",
        "requestBody": {
          "x-name": "customerLedgerRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedgerRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerLedger/GetReconManualTransactionsByDate": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetReconManualTransactionsByDate",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/GetReconManualTransactionsByDateTime": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetReconManualTransactionsByDateTime",
        "parameters": [
          {
            "name": "skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 1
          },
          {
            "name": "startDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "endDate",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          },
          {
            "name": "noOfDays",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "x-position": 4
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/CheckCustomerLedgerExists": {
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_CheckCustomerLedgerExists",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RewardExists"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "boolean"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger": {
      "get": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerLedger"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedger"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerLedger/{id}": {
      "get": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedger"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Put",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerLedger"
              }
            }
          },
          "required": true,
          "x-position": 2
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      },
      "delete": {
        "tags": [
          "CustomerLedgers"
        ],
        "operationId": "CustomerLedgers_Delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/GetCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetCustomerMobileCampaignMappings",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/GetCustomerMobileCampaignMappingForOncePerCampaign": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetCustomerMobileCampaignMappingForOncePerCampaign",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/GetCustomerMobileCampaignMappingForOnceInLifeTime": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetCustomerMobileCampaignMappingForOnceInLifeTime",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/InsertCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_InsertCustomerMobileCampaignMappings",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpdateCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpdateCustomerMobileCampaignMappings",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMappingRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpdateCustomerMobileCampaignMappingForOncePerCampaign": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpdateCustomerMobileCampaignMappingForOncePerCampaign",
        "requestBody": {
          "x-name": "customerMobileCampaignMapping",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpdateCustomerMobileCampaignMappingForOnceInLifeTime": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpdateCustomerMobileCampaignMappingForOnceInLifeTime",
        "requestBody": {
          "x-name": "customerMobileCampaignMapping",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpsertCustomerMobileCampaignMappingForOnceInLifeTime": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpsertCustomerMobileCampaignMappingForOnceInLifeTime",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpsertCustomerMobileCampaignMappingForOncePerCampaign": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpsertCustomerMobileCampaignMappingForOncePerCampaign",
        "requestBody": {
          "x-name": "customerMobileCampaignMappingRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/UpsertCustomerMobileCampaignMapping": {
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_UpsertCustomerMobileCampaignMapping",
        "requestBody": {
          "x-name": "customerMobileCampaignMapping",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertResponse"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping": {
      "get": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_GetAll",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_Post",
        "requestBody": {
          "x-name": "t",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMobileCampaignMapping"
                }
              }
            }
          }
        }
      }
    },
    "/CustomerMobileCampaignMapping/{id}": {
      "get": {
        "tags": [
          "CustomerMobileCampaignMappings"
        ],
        "operationId": "CustomerMobileCampaignMappings_Get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-position": 1
          }
[...]
