{
  "x-generator": "NSwag v14.1.0.0 (NJsonSchema v11.0.2.0 (Newtonsoft.Json v13.0.0.0))",
  "openapi": "3.0.0",
  "info": {
    "title": "Util Service",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://bflutilservice.erzqa.com"
    },
    {
      "url": "http://bflutilservice.erzqa.com"
    }
  ],
  "paths": {
    "/Util/IssueVoucher": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_IssueVoucher",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueVoucherRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIssueVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/VerifyVoucherIssuance": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_VerifyVoucherIssuance",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IssueVoucherRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfIssueVoucherResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/IssueVoucherStatus": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_IssueVoucherStatus",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RequestVoucherStatus"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfResponseVoucherStatus"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetBurnRuleByChannelAndType": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetBurnRuleByChannelAndType",
        "parameters": [
          {
            "name": "burnCriteriaType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "channel",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          },
          {
            "name": "subscriptionType",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 3
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfResponseOfListOfMongoBurnRule"
                }
              }
            }
          }
        }
      }
    },
    "/Util/PWAHandshake": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_PWAHandshake",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PWAHandshakeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PWAHandshakeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CampaignDetails": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CampaignDetails",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CampaignDetailsRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedResponseOfICollectionOfEarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CampaignDetailsByIds": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CampaignDetailsByIds",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfICollectionOfEarnCampaign"
                }
              }
            }
          }
        }
      }
    },
    "/Util/EnumMasterValues": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_EnumMasterValues",
        "parameters": [
          {
            "name": "enumCode",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfICollectionOfEnumMasterValue"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CheckGoodwillTxnRefIdExistsAsync": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CheckGoodwillTxnRefIdExists",
        "parameters": [
          {
            "name": "txnRefId",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBoolean"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetFraudPoliciesByIds": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetFraudPoliciesByIds",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfICollectionOfFraudPolicyResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/PostCleverTapEvent": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_PostCleverTapEvent",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CleverTapEventRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCleverTapEventResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/BFLHandshake": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_BFLHandshake",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BFLHandshakeRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfBFLHandshakeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CreditFSSCashback": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CreditCashback",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FSSCreditCashbackRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCashbackCreditResdata"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CreditFSSCashbackStatus": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CreditCashbackStatus",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FSSCreditCashbackStatusBase"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCashbackStatusResdata"
                }
              }
            }
          }
        }
      }
    },
    "/Util/EpochForFSS": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetEpochForFSS",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfString"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetRandomCashback": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetRandomCashback",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RandomCashbackRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfRandomCashbackResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetRandomPoints": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetRandomPoints",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RandomPointRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfRandomPointsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetBurnRulesByRedeemType": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetBurnRulesByRedeemType",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BurnRuleRequestForRedeemType"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesOfListOfMongoRedeemType"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetBurnRuleAllType": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetBurnRuleAllType",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfMongoBurnRuleDetails"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CreditCashbackV2": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CreditCashbackV2",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FSSCreditCashbackRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfNewCashbackCreditResdata"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CreditCashbackStatusV2": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CreditCashbackStatusV2",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FSSCreditCashbackStatusBase"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCashbackStatusResdata"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetMapLocation": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetMapLocation",
        "parameters": [
          {
            "name": "Latitude",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Longitude",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfRevGeoCodeResult"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetGoogleMapLocation": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetGoogleMapLocation",
        "parameters": [
          {
            "name": "Latitude",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          },
          {
            "name": "Longitude",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 2
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfGoogleMapResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/ResponsysUnified": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_UnifiedApiListener",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsysUnifiedRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfResponsysUnifiedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/SubscriptionDetailsByIds": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_SubscriptionDetailsByIds",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfICollectionOfSubscription"
                }
              }
            }
          }
        }
      }
    },
    "/Util/InsertPrimeCosmos": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_InsertPrimeCosmos",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CosmosInsertDataRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCosmosInsertDataResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/GetMulticurrencyRandomizedReward": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_GetMulticurrencyRandomizedReward",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MulticurrencyRandomizedRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfMulticurrencyRandomizedResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/OprationalList": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_OprationalList",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfOperationalListResponseData"
                }
              }
            }
          }
        }
      }
    },
    "/Util/WalletStatus": {
      "get": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_WalletStatus",
        "parameters": [
          {
            "name": "mobileNumber",
            "in": "query",
            "schema": {
              "type": "string",
              "nullable": true
            },
            "x-position": 1
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfWalletStatusResponseData"
                }
              }
            }
          }
        }
      }
    },
    "/Util/FetchExternalSegment": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_FetchExternalSegment",
        "requestBody": {
          "x-name": "fetchExternalSegmentRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalSegmentRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfExternalSegmentResponeList"
                }
              }
            }
          }
        }
      }
    },
    "/Util/ValidateExternalSegment": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_ValidateExternalSegment",
        "requestBody": {
          "x-name": "fetchExternalSegmentRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateExternalSegmentRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfExternalSegmentList"
                }
              }
            }
          }
        }
      }
    },
    "/Util/PG4in1": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_PG4in1",
        "requestBody": {
          "x-name": "intentAPIRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntentAPIRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/PGPayU": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_PGPayU",
        "requestBody": {
          "x-name": "intentAPIRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IntentAPIRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PGResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/4in1OrderPaymentStatus": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CheckPaymentStatus",
        "requestBody": {
          "x-name": "fourInOneOrderPaymentStatusRequest",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FourInOneOrderPaymentStatusRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfFourInOneOrderPaymentStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/Util/CTProfileDataUpdate": {
      "post": {
        "tags": [
          "Util"
        ],
        "operationId": "Util_CTProfileDataUpdate",
        "requestBody": {
          "x-name": "request",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CleverTapEventRequest"
              }
            }
          },
          "required": true,
          "x-position": 1
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponseOfCleverTapEventResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ResponseOfIssueVoucherResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/IssueVoucherResponse"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "IssueVoucherResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Result"
              }
            ]
          }
        }
      },
      "Result": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "sku": {
            "type": "string",
            "nullable": true
          },
          "order_status": {
            "type": "string",
            "nullable": true
          },
          "issue_source": {
            "type": "string",
            "nullable": true
          },
          "transaction_id": {
            "type": "string",
            "nullable": true
          },
          "voucherCodeInfos": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/VoucherCodeInfo"
            }
          }
        }
      },
      "VoucherCodeInfo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "pin": {
            "type": "string",
            "nullable": true
          },
          "expiry_on": {
            "type": "string",
            "nullable": true
          },
          "issued_on": {
            "type": "string",
            "nullable": true
          },
          "vendor_code": {
            "type": "string",
            "nullable": true
          },
          "mark_up_price": {
            "type": "string",
            "nullable": true
          },
          "minimum_purchase_value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "StatusDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "IssueVoucherRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "sku": {
            "type": "string",
            "nullable": true
          },
          "transaction_id": {
            "type": "string",
            "nullable": true
          },
          "vendor_code": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfResponseVoucherStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ResponseVoucherStatus"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "ResponseVoucherStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "result": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/VoucherResult"
              }
            ]
          }
        }
      },
      "VoucherResult": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "sku": {
            "type": "string",
            "nullable": true
          },
          "issue_source": {
            "type": "string",
            "nullable": true
          },
          "order_status": {
            "type": "string",
            "nullable": true
          },
          "transaction_id": {
            "type": "string",
            "nullable": true
          },
          "voucherCodeInfos": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/VoucherCodeStatusInfo"
            }
          }
        }
      },
      "VoucherCodeStatusInfo": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "code": {
            "type": "string",
            "nullable": true
          },
          "pin": {
            "type": "string",
            "nullable": true
          },
          "expiry_on": {
            "type": "string",
            "nullable": true
          },
          "issued_on": {
            "type": "string",
            "nullable": true
          },
          "vendor_code": {
            "type": "string",
            "nullable": true
          },
          "mark_up_price": {
            "type": "string",
            "nullable": true
          },
          "minimum_purchase_value": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RequestVoucherStatus": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "transaction_id": {
            "type": "string",
            "nullable": true
          },
          "sku": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfResponseOfListOfMongoBurnRule": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ResponseOfListOfMongoBurnRule"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "ResponseOfListOfMongoBurnRule": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MongoBurnRule"
            }
          }
        }
      },
      "MongoBurnRule": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentBROfString"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "burnRulesGeneral": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BurnRulesGeneral"
                  }
                ]
              },
              "burnCriteria": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/MongoBurnCriteria"
                  }
                ]
              },
              "burnRulePoints": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/MongoBurnRulePoints"
                  }
                ]
              },
              "burnContentTab": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BurnContentTab"
                  }
                ]
              },
              "burnAlertTab": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/BurnAlertTab"
                  }
                ]
              },
              "approver": {
                "type": "string",
                "nullable": true
              },
              "status": {
                "type": "string",
                "nullable": true
              },
              "erid": {
                "type": "string",
                "nullable": true
              },
              "reason": {
                "type": "string",
                "nullable": true
              },
              "versionId": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "BurnRulesGeneral": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "ruleName": {
            "type": "string",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "MongoBurnCriteria": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "companyCode": {
            "type": "string",
            "nullable": true
          },
          "lob": {
            "type": "string",
            "nullable": true
          },
          "customerType": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "channel": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "allowRedemptionUnit": {
            "type": "string",
            "nullable": true
          },
          "allowRedemptionUnitValue": {
            "type": "integer",
            "format": "int32"
          },
          "subscriptionType": {
            "type": "string",
            "nullable": true
          },
          "subscriptionId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MongoBurnRulePoints": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cliff": {
            "type": "string",
            "nullable": true
          },
          "cliffValue": {
            "type": "integer",
            "format": "int32"
          },
          "globalPointRate": {
            "type": "string",
            "nullable": true
          },
          "globalPointRateValue": {
            "type": "number",
            "format": "decimal"
          },
          "maxPointstoBurnperTransaction": {
            "type": "string",
            "nullable": true
          },
          "maxPointsPerTxnValueType": {
            "type": "string",
            "nullable": true
          },
          "maxPointsPerTxnPctgValue": {
            "type": "number",
            "format": "decimal"
          },
          "maxPointstoBurnperTransactionValue": {
            "type": "integer",
            "format": "int32"
          },
          "maxPointstoBurnperRule": {
            "type": "string",
            "nullable": true
          },
          "maxPointstoBurnperRuleValue": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BurnContentTab": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "narration": {
            "type": "string",
            "nullable": true
          },
          "termAndCondition": {
            "type": "string",
            "nullable": true
          },
          "contentImageDetails": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ContentImageDetails"
            }
          }
        }
      },
      "ContentImageDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "uid": {
            "type": "string",
            "nullable": true
          },
          "containerName": {
            "type": "string",
            "nullable": true
          },
          "folderName": {
            "type": "string",
            "nullable": true
          },
          "fileName": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "oldFileName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BurnAlertTab": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "templateName": {
            "type": "string",
            "nullable": true
          },
          "tempNameCode": {
            "type": "object",
            "nullable": true,
            "additionalProperties": {
              "type": "string"
            }
          },
          "templateId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DocumentBROfString": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deletedBy": {
            "type": "string",
            "nullable": true
          },
          "isDeleted": {
            "type": "boolean"
          },
          "isPublished": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          }
        }
      },
      "PWAHandshakeResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": {
            "type": "string",
            "nullable": true
          },
          "error_description": {
            "type": "string",
            "nullable": true
          },
          "error_code": {
            "type": "integer",
            "format": "int32"
          },
          "statuscode": {
            "type": "integer",
            "format": "int32"
          },
          "active": {
            "type": "boolean"
          },
          "username": {
            "type": "string",
            "nullable": true
          },
          "exp": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "customerids": {
            "type": "array",
            "nullable": true,
            "items": {

            }
          }
        }
      },
      "PWAHandshakeRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "token": {
            "type": "string",
            "nullable": true
          },
          "channelId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "PagedResponseOfICollectionOfEarnCampaign": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/EarnCampaign"
            }
          },
          "page": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PageResponse"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "EarnCampaign": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DocumentOfString"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "campaignType": {
                "type": "string",
                "nullable": true
              },
              "campaignName": {
                "type": "string",
                "nullable": true
              },
              "startDate": {
                "type": "string",
                "format": "date-time"
              },
              "endDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "unLockExpiryDate": {
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "bflCampaignId": {
                "type": "string",
                "nullable": true
              },
              "offerType": {
                "type": "string",
                "nullable": true
              },
              "lob": {
                "type": "string",
                "nullable": true
              },
              "customerType": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string"
                }
              },
              "customerStatus": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string"
                }
              },
              "rewardCategory": {
                "type": "string",
                "nullable": true
              },
              "channel": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string"
                }
              },
              "installationSource": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/InstallationSource"
                  }
                ]
              },
              "segmentSelect": {
                "type": "string",
                "nullable": true
              },
              "segmentType": {
                "type": "string",
                "nullable": true
              },
              "segment": {
                "type": "array",
                "nullable": true,
                "items": {
                  "type": "string"
                }
              },
              "rmsAttributes": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/RMSAttribute"
                }
              },
              "filter": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Filter"
                  }
                ]
              },
              "rewardCriteria": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RewardCriteria"
                  }
                ]
              },
              "rewardOption": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/RewardOptionType"
                }
              },
              "content": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Content"
                  }
                ]
              },
              "alert": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Alert"
                  }
                ]
              }
            }
          }
        ]
      },
      "InstallationSource": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "source": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "anyInstallationSource": {
            "type": "boolean"
          }
        }
      },
      "RMSAttribute": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "attributeType": {
            "type": "string",
            "nullable": true
          },
          "parameter": {
            "type": "string",
            "nullable": true
          },
          "parameterCode": {
            "type": "string",
            "nullable": true
          },
          "startRange": {
            "type": "integer",
            "format": "int32"
          },
          "endRange": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Filter": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "eventCode": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "isDirect": {
            "type": "boolean"
          },
          "directEvent": {
            "type": "string",
            "nullable": true
          },
          "isLock": {
            "type": "boolean"
          },
          "lockEvent": {
            "type": "string",
            "nullable": true
          },
          "isUnlock": {
            "type": "boolean"
          },
          "unlockEvent": {
            "type": "string",
            "nullable": true
          },
          "isTripleReward": {
            "type": "boolean"
          },
          "isCumulative": {
            "type": "boolean"
          },
          "isAssuredCashback": {
            "type": "boolean"
          },
          "isAssuredCashbackKickOff": {
            "type": "boolean"
          },
          "isRefferalProgram": {
            "type": "boolean"
          },
          "isUnlockOnDuration": {
            "type": "boolean"
          }
        }
      },
      "RewardCriteria": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "rewardIssuance": {
            "type": "string",
            "nullable": true
          },
          "offerEventDirect": {
            "type": "string",
            "nullable": true
          },
          "direct": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/DirectEvent"
              }
            ]
          },
          "offerEventLock": {
            "type": "string",
            "nullable": true
          },
          "offerEventUnlock": {
            "type": "string",
            "nullable": true
          },
          "withLockUnlock": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/WithLockUnlock"
              }
            ]
          },
          "asScratchCard": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/AsScratchCard"
              }
            ]
          },
          "refferalProgram": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RefferalProgram"
              }
            ]
          }
        }
      },
      "DirectEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonEventType"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "isCrossSellApplicable": {
                "type": "boolean"
              },
              "products": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        ]
      },
      "Product": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "productId": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "journey": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "purchaseType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "CommonEventType": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "eventName": {
            "type": "string",
            "nullable": true
          },
          "eventType": {
            "type": "string",
            "nullable": true
          },
          "event": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/CommonEvent"
              }
            ]
          }
        }
      },
      "CommonEvent": {
        "type": "object",
        "additionalProperties": false
      },
      "WithLockUnlock": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "lockEvent": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/LockEvent"
              }
            ]
          },
          "unlockEvent": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/UnlockEvent"
              }
            ]
          }
        }
      },
      "LockEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonEventType"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "noOfDays": {
                "type": "integer",
                "format": "int32"
              },
              "isCrossSellApplicable": {
                "type": "boolean"
              },
              "productLock": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        ]
      },
      "UnlockEvent": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CommonEventType"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "isLockExpire": {
                "type": "boolean"
              },
              "unlockBasedOn": {
                "type": "string",
                "nullable": true
              },
              "unlockDuration": {
                "type": "integer",
                "format": "int32"
              },
              "isCrossSellApplicable": {
                "type": "boolean"
              },
              "productUnlock": {
                "type": "array",
                "nullable": true,
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        ]
      },
      "AsScratchCard": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "transactionType": {
            "type": "string",
            "nullable": true
          },
          "duration": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Duration"
              }
            ]
          }
        }
      },
      "Duration": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "type": {
            "type": "string",
            "nullable": true
          },
          "recurrence": {
            "type": "string",
            "nullable": true
          },
          "paymentCategories": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "paymentInstruments": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "isMinTransaction": {
            "type": "boolean"
          },
          "minTransactionAmount": {
            "type": "integer",
            "format": "int32"
          },
          "transactionCount": {
            "type": "integer",
            "format": "int32"
          },
          "merchant": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Merchant"
              }
            ]
          }
        }
      },
      "Merchant": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "merchantCategory": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "groupMerchantId": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "merchantId": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "merchantSegment": {
            "type": "string",
            "nullable": true
          },
          "mode": {
            "type": "string",
            "nullable": true
          },
          "segment": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MerchantSegment"
              }
            ]
          },
          "merchantType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "MerchantSegment": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "segmentCode": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "isIncluded": {
            "type": "boolean"
          }
        }
      },
      "RefferalProgram": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "rewardOptionType": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardOptionType"
              }
            ]
          },
          "capping": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RewardOptionType": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "isMultipleCurrency": {
            "type": "integer",
            "format": "int32"
          },
          "rewardType": {
            "type": "string",
            "nullable": true
          },
          "points": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardTypePoints"
              }
            ]
          },
          "cashback": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardTypeCashback"
              }
            ]
          },
          "voucherDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardTypeVoucher"
              }
            ]
          },
          "promoVoucherDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardTypePromoVoucher"
              }
            ]
          },
          "subscriptionDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardTypeSubscription"
              }
            ]
          },
          "rewardExpiryOnDemand": {
            "type": "boolean"
          },
          "multiCurrencyRandomizedDetails": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MultiCurrencyRandomized"
              }
            ]
          }
        }
      },
      "RewardTypePoints": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pointType": {
            "type": "string",
            "nullable": true
          },
          "pointsFixed": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardValueTypeFixed2"
              }
            ]
          },
          "pointsPercentage": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardValueTypePercentage2"
              }
            ]
          },
          "expirePolicy": {
            "type": "string",
            "nullable": true
          },
          "durationType": {
            "type": "string",
            "nullable": true
          },
          "durationValue": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RewardValueTypeFixed2": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "number",
            "format": "decimal"
          }
        }
      },
      "RewardValueTypePercentage2": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "number",
            "format": "decimal"
          },
          "maximumCashback": {
            "type": "number",
            "format": "decimal"
          }
        }
      },
      "RewardTypeCashback": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "cashBackType": {
            "type": "string",
            "nullable": true
          },
          "cashBackFixed": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardValueTypeFixed2"
              }
            ]
          },
          "cashBackPercentage": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardValueTypePercentage2"
              }
            ]
          },
          "cashBackRandomized": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RewardValueTypeRandomized"
              }
            ]
          }
        }
      },
      "RewardValueTypeRandomized": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "budget": {
            "type": "number",
            "format": "decimal"
          },
          "median": {
            "type": "number",
            "format": "decimal"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "topEarnerAmount": {
            "type": "number",
            "format": "decimal"
          },
          "topTransactionPercentage": {
            "type": "number",
            "format": "decimal"
          },
          "bottomEarnerAmount": {
            "type": "number",
            "format": "decimal"
          },
          "bottomTransactionPercentage": {
            "type": "number",
            "format": "decimal"
          },
          "dailyUnusedBudget": {
            "type": "string",
            "nullable": true
          },
          "maxTxnPerCustomer": {
            "type": "integer",
            "format": "int32"
          },
          "assuredCashbak": {
            "type": "integer",
            "format": "int32"
          },
          "isMinAssuredPoints": {
            "type": "boolean"
          }
        }
      },
      "RewardTypeVoucher": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "lob": {
            "type": "string",
            "nullable": true
          },
          "catalogueCode": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          },
          "categoryCode": {
            "type": "string",
            "nullable": true
          },
          "brandCode": {
            "type": "string",
            "nullable": true
          },
          "denomination": {
            "type": "string",
            "nullable": true
          },
          "validity": {
            "type": "string",
            "nullable": true
          },
          "quantity": {
            "type": "integer",
            "format": "int32"
          },
          "sku": {
            "type": "string",
            "nullable": true
          },
          "voucherCost": {
            "type": "number",
            "format": "decimal"
          },
          "isCheckedOTTMerchant": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RewardTypePromoVoucher": {
        "allOf": [
          {
            "$ref": "#/components/schemas/DealsVoucher"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "voucherType": {
                "type": "integer",
                "format": "int32"
              },
              "skuId": {
                "type": "integer",
                "format": "int32"
              },
              "valueType": {
                "type": "integer",
                "format": "int32"
              },
              "fixValue": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RewardValueTypeFixed2"
                  }
                ]
              },
              "percentageValue": {
                "nullable": true,
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/RewardValueTypePercentage2"
                  }
                ]
              },
              "validity": {
                "type": "integer",
                "format": "int32"
              },
              "staticValidDate": {
                "type": "string",
                "format": "date-time"
              },
              "dynamicValidDay": {
                "type": "integer",
                "format": "int32"
              },
              "quantity": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "DealsVoucher": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "brandCode": {
            "type": "string",
            "nullable": true
          },
          "categoryCode": {
            "type": "string",
            "nullable": true
          },
          "startDate": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "skuName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "RewardTypeSubscription": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subscriptionId": {
            "type": "string",
            "nullable": true
          },
          "subscriptionName": {
            "type": "string",
            "nullable": true
          },
          "isAutoActivation": {
            "type": "boolean"
          }
        }
      },
      "MultiCurrencyRandomized": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "budget": {
            "type": "number",
            "format": "decimal"
          },
          "templateId": {
            "type": "string",
            "nullable": true
          },
          "pointCurrency": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MultiCurrencyRewardTypeRandomized"
              }
            ]
          },
          "cashbackCurrency": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MultiCurrencyRewardTypeRandomized"
              }
            ]
          },
          "promoVoucherCurrency": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/PromoVoucherCurrency"
              }
            ]
          },
          "maxTxnPerCustomer": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MultiCurrencyRewardTypeRandomized": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RewardValueTypeRandomized"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "budgetPercentage": {
                "type": "number",
                "format": "decimal"
              },
              "expirePolicy": {
                "type": "string",
                "nullable": true
              },
              "durationType": {
                "type": "string",
                "nullable": true
              },
              "durationValue": {
                "type": "integer",
                "format": "int32"
              }
            }
          }
        ]
      },
      "PromoVoucherCurrency": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RewardTypePromoVoucher"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "budgetPercentage": {
                "type": "number",
                "format": "decimal"
              },
              "perceivedValue": {
                "type": "number",
                "format": "decimal"
              }
            }
          }
        ]
      },
      "Content": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "campaignDescription": {
            "type": "string",
            "nullable": true
          },
          "rewardNarration": {
            "type": "string",
            "nullable": true
          },
          "referalrewardNarration": {
            "type": "string",
            "nullable": true
          },
          "referalUnlockedrewardNarration": {
            "type": "string",
            "nullable": true
          },
          "unlockCondition": {
            "type": "string",
            "nullable": true
          },
          "unlockTermAndCondition": {
            "type": "string",
            "nullable": true
          },
          "referrerUnlockTermAndCondition": {
            "type": "string",
            "nullable": true
          },
          "ctaUrl": {
            "type": "string",
            "nullable": true
          },
          "ctaReferrerUrl": {
            "type": "string",
            "nullable": true
          },
          "containerName": {
            "type": "string",
            "nullable": true
          },
          "folderName": {
            "type": "string",
            "nullable": true
          },
          "termAndCondition": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/ECImage"
            }
          },
          "imageCount": {
            "type": "integer",
            "format": "int32"
          },
          "genericLockCard": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/LockCard"
              }
            ]
          },
          "referralLockCard": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/LockCard"
              }
            ]
          }
        }
      },
      "ECImage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "blobLocationUrl": {
            "type": "string",
            "nullable": true
          },
          "size": {
            "type": "string",
            "nullable": true
          },
          "actualFileName": {
            "type": "string",
            "nullable": true
          },
          "blioImageDetails": {
            "type": "string",
            "nullable": true
          },
          "uid": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LockCard": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "tncTitle": {
            "type": "string",
            "nullable": true
          },
          "tncSubTitle": {
            "type": "string",
            "nullable": true
          },
          "headerBottomDrawer": {
            "type": "string",
            "nullable": true
          },
          "tncDescription": {
            "type": "string",
            "nullable": true
          },
          "ctaLabel1": {
            "type": "string",
            "nullable": true
          },
          "ctaLabel2": {
            "type": "string",
            "nullable": true
          },
          "ctaurL2": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Alert": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "templateName": {
            "type": "string",
            "nullable": true
          },
          "budget": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Budget"
              }
            ]
          },
          "responsysTemplateId": {
            "type": "string",
            "nullable": true
          },
          "unlockResponsysTemplateId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Budget": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "range": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/BudgetData"
            }
          }
        }
      },
      "BudgetData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "from": {
            "type": "integer",
            "format": "int32"
          },
          "to": {
            "type": "integer",
            "format": "int32"
          },
          "userID": {
            "type": "string",
            "nullable": true
          },
          "template": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/Template"
              }
            ]
          }
        }
      },
      "Template": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "subject": {
            "type": "string",
            "nullable": true
          },
          "body": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "DocumentOfString": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "createdBy": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedBy": {
            "type": "string",
            "nullable": true
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "deletedBy": {
            "type": "string",
            "nullable": true
          },
          "isDeleted": {
            "type": "boolean"
          },
          "isPublished": {
            "type": "boolean"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "versionId": {
            "type": "string",
            "nullable": true
          },
          "approver": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "nullable": true
          },
          "reasonTitle": {
            "type": "string",
            "nullable": true
          },
          "reasonDescription": {
            "type": "string",
            "nullable": true
          },
          "isDeployed": {
            "type": "integer",
            "format": "int32"
          },
          "oncePerCampaign": {
            "type": "boolean"
          },
          "onceInLifeTime": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/OnceInLifeTime2"
              }
            ]
          }
        }
      },
      "OnceInLifeTime2": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "value": {
            "type": "boolean"
          },
          "tags": {
            "type": "array",
            "nullable": true,
            "items": {
              "type": "string"
            }
          }
        }
      },
      "PageResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "totalCount": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "currentPage": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "totalPages": {
            "type": "integer",
            "format": "int64",
            "nullable": true
          },
          "hasNext": {
            "type": "boolean",
            "nullable": true
          },
          "hasPrevious": {
            "type": "boolean",
            "nullable": true
          }
        }
      },
      "CampaignDetailsRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Page"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "campaignId": {
                "type": "string",
                "nullable": true
              },
              "lob": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "Page": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pageNumber": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          },
          "pageSize": {
            "type": "integer",
            "format": "int32",
            "nullable": true
          }
        }
      },
      "ResponseOfICollectionOfEarnCampaign": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/EarnCampaign"
            }
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "ResponseOfICollectionOfEnumMasterValue": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/EnumMasterValue"
            }
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "EnumMasterValue": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "enumMasterCode": {
            "type": "string",
            "nullable": true
          },
          "enumValueCode": {
            "type": "string",
            "nullable": true
          },
          "enumValueText": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfBoolean": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "boolean"
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "ResponseOfICollectionOfFraudPolicyResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/FraudPolicyResponse"
            }
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "FraudPolicyResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "isMerchantSpecific": {
            "type": "boolean"
          },
          "frequency": {
            "type": "string",
            "nullable": true
          },
          "value": {
            "type": "integer",
            "format": "int32"
          },
          "noOfTimes": {
            "type": "integer",
            "format": "int32"
          },
          "scheduled": {
            "type": "string",
            "nullable": true
          },
          "triggerTypeId": {
            "type": "string",
            "nullable": true
          },
          "rewardTypeId": {
            "type": "string",
            "nullable": true
          },
          "triggerType": {
            "type": "string",
            "nullable": true
          },
          "ruleDescription": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfCleverTapEventResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/CleverTapEventResponse"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "CleverTapEventResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "processed": {
            "type": "integer",
            "format": "int32"
          },
          "unprocessed": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CleverTapError"
            }
          }
        }
      },
      "CleverTapError": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "nullable": true
          },
          "code": {
            "type": "integer",
            "format": "int32"
          },
          "error": {
            "type": "string",
            "nullable": true
          },
          "record": {
            "nullable": true
          }
        }
      },
      "CleverTapEventRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "d": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/CleverTapEventR"
            }
          }
        }
      },
      "CleverTapEventR": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CleverTapEventBase"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "evtData": {
                "nullable": true
              }
            }
          }
        ]
      },
      "CleverTapEventBase": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "identity": {
            "type": "string",
            "nullable": true
          },
          "ts": {
            "type": "string",
            "nullable": true
          },
          "type": {
            "type": "string",
            "nullable": true
          },
          "profileData": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/ProfileData"
              }
            ]
          },
          "evtName": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ProfileData": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "Bajaj_Prime": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfBFLHandshakeResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/BFLHandshakeResponse"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "BFLHandshakeResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "BFLHandshakeRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "userId": {
            "type": "string",
            "nullable": true
          },
          "token": {
            "type": "string",
            "nullable": true
          },
          "source": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfCashbackCreditResdata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/CashbackCreditResdata"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "CashbackCreditResdata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "mobile_number": {
            "type": "string",
            "nullable": true
          },
          "txn_ref_id": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FSSCreditCashbackRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "mobile_number": {
            "type": "string",
            "nullable": true
          },
          "amount": {
            "type": "string",
            "nullable": true
          },
          "txn_ref_id": {
            "type": "string",
            "nullable": true
          },
          "channel": {
            "type": "string",
            "nullable": true
          },
          "operationid": {
            "type": "string",
            "nullable": true
          },
          "eventId": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfCashbackStatusResdata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/CashbackStatusResdata"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "CashbackStatusResdata": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "mobile_number": {
            "type": "string",
            "nullable": true
          },
          "txn_ref_id": {
            "type": "string",
            "nullable": true
          },
          "txn_status": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "FSSCreditCashbackStatusBase": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "mobile_number": {
            "type": "string",
            "nullable": true
          },
          "txn_ref_id": {
            "type": "string",
            "nullable": true
          },
          "channel": {
            "type": "string",
            "nullable": true
          },
          "operationid": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfString": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "ResponseOfRandomCashbackResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RandomCashbackResponse"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "RandomCashbackResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RandomCashbackCommonResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "Cashback": {
                "type": "number",
                "format": "double"
              },
              "Message": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "RandomCashbackCommonResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CV_ID": {
            "type": "integer",
            "format": "int32"
          },
          "Mobile": {
            "type": "integer",
            "format": "int64"
          },
          "CampaignID": {
            "type": "string",
            "nullable": true
          },
          "TransactionNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RandomCashbackRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CampaignId": {
            "type": "string",
            "nullable": true
          },
          "MobileNumber": {
            "type": "string",
            "nullable": true
          },
          "EventValue": {
            "type": "integer",
            "format": "int32"
          },
          "assuredCashbak": {
            "type": "boolean"
          }
        }
      },
      "ResponseOfRandomPointsResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/RandomPointsResponse"
              }
            ]
          },
          "status": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/StatusDetails"
              }
            ]
          }
        }
      },
      "RandomPointsResponse": {
        "allOf": [
          {
            "$ref": "#/components/schemas/RandomPointsCommonResponse"
          },
          {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "Points": {
                "type": "number",
                "format": "double"
              },
              "Message": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "RandomPointsCommonResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CV_ID": {
            "type": "integer",
            "format": "int32"
          },
          "Mobile": {
            "type": "integer",
            "format": "int64"
          },
          "CampaignID": {
            "type": "string",
            "nullable": true
          },
          "TransactionNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RandomPointRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "CampaignId": {
            "type": "string",
            "nullable": true
          },
          "MobileNumber": {
            "type": "string",
            "nullable": true
          },
          "EventValue": {
            "type": "integer",
            "format": "int32"
          },
          "assuredPoints": {
            "type": "boolean"
          }
        }
      },
      "ResponsesOfListOfMongoRedeemType": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MongoRedeemType"
            }
          },
          "message": {
            "type": "string",
            "nullable": true
          },
          "statusCode": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "MongoRedeemType": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "burnRuleID": {
            "type": "string",
            "nullable": true
          },
          "redeemType": {
            "type": "string",
            "nullable": true
          },
          "redemptionUnit": {
            "type": "integer",
            "format": "int32"
          },
          "cliff": {
            "type": "integer",
            "format": "int32"
          },
          "pointRate": {
            "type": "number",
            "format": "decimal"
          },
          "maxPointsToBurnPerTxn": {
            "type": "integer",
            "format": "int32"
          },
          "maxPointsToBurnPerTxnPctg": {
            "type": "number",
            "format": "decimal"
          },
          "maxPointsToBurnPerRule": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "BurnRuleRequestForRedeemType": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "redeemType": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ResponseOfMongoBurnRuleDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "data": {
            "nullable": true,
            "oneOf": [
              {
                "$ref": "#/components/schemas/MongoBurnRuleDetails"
              }
            ]
          }
        }
      },
      "MongoBurnRuleDetails": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "pwa": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MongoBurnRule"
            }
          },
          "payment": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MongoBurnRule"
            }
          },
          "cashback": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/MongoBurnRule"
            }
          },
          "globalConfic": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Configuration"
            }
          }
        }
      },
      "Configuration": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "pointRate": {
            "type": "number",
            "format": "double"
[...]
